<template>
    <div class="main">
        <div class="box">
            <div class="title white">To-Do List</div>
            <div class="search pad-top">
                <input title="Search" type="text" id="search" v-model="searchText" placeholder="Search your list">
            </div>
            <div class="pad-top block">
                <div>
                    <button class="add-btn" v-on:click="add=true">Add New Item</button>
                </div>
                <div class="filter white">
                    <span>Filter:</span>
                    <span><input type="checkbox" class="status chk" v-model="pending">Pending</span>
                    <span><input type="checkbox" class="status chk" v-model="done">Done</span>
                </div>
            </div>
            <div class="pad-top">
                <div v-for="item in getViewList" :key="item.name">
                        <div class="item rad" v-bind:class="{ 'item-nv': !item.view, 'item-v': item.view}">
                            <div title="Click to view Description" class="left" v-on:click="changeViewDesc(item.name)" v-bind:class="{ strike: item.closed }">{{item.name}}</div>
                            <div title="Mark as Done"><input type="checkbox" class="status" v-model="item.closed"></div>
                            <div title="Edit" v-on:click="setItem(item.name)"><img src=".././assets/edit.png"></div>
                            <div title="Delete" v-on:click="deleteItem(item.name)"><img id="hgt" src=".././assets/delete.png"></div>
                            <div v-if="item.view" class="left desc"><img id="size" src=".././assets/arrow.png">&nbsp;{{item.desc}}</div>
                        </div>
                </div>
                <div v-if="getViewList.length==0" class="white">There are no items for that filter!</div>
            </div>
        </div>
    <div v-if="add || edit">
        <div class="modal">
            <div class="modal-content">
                <span v-if="add" class="close" v-on:click="add=false">&times;</span>
                <span v-else class="close" v-on:click="edit=false">&times;</span>
                <p v-if="add" class="title">Add Item</p>
                <p v-else class="title">Edit Item</p>
                <input type="text" required id="itemName" placeholder="Enter name of item" v-on:submit.prevent>
                <input type="text" required id="itemDesc" placeholder="Enter description of item">
                <button v-if="add" class="add-btn" v-on:click="addItem()">Submit</button>
                <button v-else class="add-btn" v-on:click="editItem()">Submit</button>
            </div>
        </div> 
    </div>
    </div>
</template>
<script>
export default {
    name: "ToDo",
    methods: {
        changeViewDesc(itemName){
            this.list.forEach(element => {
                if(element.name===itemName){
                    let currentStatus=element.view
                    if(currentStatus)
                        element.view=false;
                    else
                        element.view=true;
                    }  
            });
        },
        addItem(){
            console.log("Hi")
            let itemName = document.getElementById("itemName").value;
            let itemDesc = document.getElementById("itemDesc").value;
            this.add=false;
            let newItem = {
                name: itemName,
                desc: itemDesc,
                closed: false,
                view: false
            }
            this.list.push(newItem);
        },
        setItem(oldName){
          this.edit=true;  
          this.editItemName=oldName;
        },
        editItem(){
            let index;
            this.list.forEach(element => {
                if(element.name===this.editItemName){
                    index = this.list.indexOf(element);
                }
            });
            this.list[index].name = document.getElementById("itemName").value;
            this.list[index].desc = document.getElementById("itemDesc").value;
            this.edit=false;
        },
        populateViewList(){
            this.viewList=[];
            this.list.forEach(element => {
            this.viewList.push(element);
        });
        },
        deleteItem(itemName){
            let delIndex;
            let deleteStatus=window.confirm("Are you sure you want to delete this item?");
            if(deleteStatus){
                this.list.forEach(element => {
                    if(element.name===itemName)
                        delIndex=this.list.indexOf(element)
                });
                this.list.splice(delIndex,1);
            }
        },
        getView(){
            if(this.pending && this.done){
                this.populateViewList();
            }
            else if(this.pending && !this.done){
                let tempList=this.viewList.filter( (item) => !item.closed)
                this.viewList=[];
                tempList.forEach(element => {
                    this.viewList.push(element);
                });
            }
            else if(this.done && !this.pending){
                let tempList=this.viewList.filter( (item) => item.closed)
                this.viewList=[];
                tempList.forEach(element => {
                    this.viewList.push(element);
                });
            }
        }

    },
    computed: {
        getViewList(){
            this.populateViewList();
            this.getView();
            if(this.searchText!=''){
                this.list.forEach(item => {
                    if(!item.name.toLowerCase().includes(this.searchText.toLowerCase())){
                        let index=this.viewList.indexOf(item);
                        if(index!=-1)
                            this.viewList.splice(index,1);
                    }});
            }
            return this.viewList;
        }
    },
    created(){
        this.populateViewList();
    },
    data(){
        return {
            viewList: [],
            searchText: '',
            pending: false,
            done: false,
            add: false,
            edit: false,
            editItemName: '',
            list: [
                {
                    name: "New feature for Web App",
                    desc: "Develop a new feature for the ToDo App to add status.",
                    closed: false,
                    view: false
                },
                {
                    name: "Publish article",
                    desc: "Publish an article on the blog about the new Vue feature.",
                    closed: false,
                    view: false
                },
                {
                    name: "Dentist appointment",
                    desc: "Schedule an appointment with the Dentist for the upcoming weekend.",
                    closed: false,
                    view: false
                },
                {
                    name: "Vue Documentation",
                    desc: "Read the vue documentation to understand the routing concepts.",
                    closed: false,
                    view: false
                },
                {
                    name: "Buy Groceries",
                    desc: "buy groceries at the local supermarket",
                    closed: false,
                    view: false
                }
            ]
        }
    }
}
</script>
<style scoped>
*{
    box-sizing: border-box;
    margin: auto;
    font-family: sans-serif;
}
.white{
    color: white;
}
img{
    width: 18px;
    height: 18px;
}
#hgt{
    margin-top: -3px;
    height: 23px;
}
.status{
    width: 18px;
    height: 18px;
}
.item{
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    width: 750px;
    background-color: #ffffff;
    margin-bottom: 15px;
}
.item-nv{
    height: 55px;
}
.item-v{
    height: 95px;
}
.rad{
    border-radius: 10px;
}
#size{
    height: 15px;
    padding-top: 4px;
}
.item div{
    margin: 10px 5px;
    padding: 8px 15px 3px;
    font-weight: bold;
    cursor: pointer;
}
.item div.desc{
    margin: 0px 5px 5px;
    padding: 0px 15px 5px;
    font-weight: normal;
}
.item .desc{
    font-size: 16px;
}
.title{
    font-size: 28px;
}
.pad-top{
    padding-top: 25px;
}
.box{
    width: 850px;
    height: auto;
    border-radius: 15px;
    background-color: #0ca376;
    padding: 25px;
}
.search{
    width: 600px;
    position: relative;
}
#search{
    padding: 0px 30px;
    outline: none;
    height: 47px;
    width: 550px;
    border: 1px solid #ddd8d8;
    border-radius: 30px;
}
#search:hover{
    box-shadow: 0px 1px 5px #061b1a;
}
.add-btn{
    padding: 15px;
    background-color: #20394e;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    width: 200px;
    cursor: pointer;
}
.block{
    position: relative;
    height: 70px;
}
.block div button{
    position: absolute;
    left: 25px;
    top: 20px;
}
.block div.filter{
    position: absolute;
    right: 25px;
    top: 30px;
}
.filter span{
    font-size: 18px;
    padding: 8px;
}
.left{
    text-align: left;
    font-size: 17px;
}
.item div.strike{
    font-weight: normal;
    text-decoration: line-through;
}
.chk{
    margin-right: 10px;
}
.modal {
    z-index: 1; 
    padding-top: 250px; 
    position: fixed; 
    background-color: rgb(0,0,0,0.7); 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .modal-content {
    background-color: rgb(213, 214, 214);
    padding: 20px;
    border: 3px solid rgb(63, 63, 63);
    border-radius: 15px;
    width: 500px;
    font-weight: bold;
  }
  
  .close {
    color: grey;
    float: right;
    font-size: 28px;
  }
  
  .close:hover {
    color: black;
    cursor: pointer;
  }
  .modal-content input{
      margin: 13px 10px;
      padding: 12px;
      width: 400px;
      border: 1px solid #575757;
      border-radius: 10px;
      outline: none;
  }
  @media only screen and (max-width: 900px){
      .item{
          width: 100%;
      }
      .box{
          width: 95%;
      }
      .add-btn{
          width: 30%;
      }
      .search{
          width: 100%;
      }
      #search{
          width: 85%;
      }
  }
</style>